<header id="top-header">
  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>


  <div class="search">
    <form action="/inv/search" method="get">
      <input type="text" name="searchTerm" placeholder="Search inventory..." required />
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="account">
    <% if (locals.loggedin) { %>
      <div class="account-links">
        <a href="/account/" title="Welcome message">My Account</a>
        <a href="/account/logout" title="Click to log out">Logout</a>
      </div>
    <% } else { %>
      <div class="account-links">
        <a href="/account/login" title="Click to log in">Login</a>
      </div>
    <% } %>
  </div>

</header>

