* {
  margin: 0;
  padding: 0;
}

.background {
  background: url('/images/site/small_check.jpg') no-repeat center center/cover;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {

  background: rgba(255, 255, 255, 1); /* Semi-transparent background */
  margin: 20px 40px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 400px;

}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
}
.site-name a {
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.account a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.account a:hover {
  color: #000;
}

/* Navigation container */
nav {
  background-color: #123458;
  padding: 10px 20px;
}

/* Navigation list */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* Navigation items */
nav ul li {
  margin: 0 15px;
}

/* Navigation links */
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover effects */
nav ul li a:hover {

  border-radius: 5px;
  color: lightskyblue; /* Gold color */
}

h1 {
  font-size: 36px;
  margin: 20px 20px;
}

.u-container {
  margin: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Hero Image */
img {
  width: 750px; 
}

.delorean-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.7); /* Transparent white */
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #007acc;
}

.delorean-container h2 {
  color: #123458;
  font-size: 22px;
  margin: 0;
}

.delorean-container p {
  margin: 5px 0;
  color: #123458;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #123458;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.btn:hover {
  background: #123458;
}

/* Product Info */

.l-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.upgrades, .reviews {
  width: 48%;
}

.upgrades h2, .reviews h2 {
  font-size: 20px;
}

.upgrades-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #123458; /* Blue background */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.upgrade-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.upgrade-item a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.upgrade-item a:hover {
  text-decoration: underline;
}

.reviews ul {
  padding: 0;
}

.reviews li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}

.copyright {
  margin: 20px 20px 0 20px;
}

/* Styling for the list */
#inv-display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

/* Individual list items */
#inv-display li {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 300px;
  padding: 15px;
  text-align: center;
}

#inv-display li:hover {
  transform: translateY(-5px);
}

/* Image styling */
#inv-display li img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Name and price container */
.namePrice {
  padding: 10px;
}

/* Vehicle name */
.namePrice h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.namePrice h2 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.namePrice h2 a:hover {
  color: #007bff;
}

/* Price styling */
.namePrice span {
  font-size: 1.1em;
  color: #28a745;
  font-weight: bold;
}

/* Vehicle details styling */
.item-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.item-container img {
  width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-container {
  flex: 1;
}

.detail-container h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: black;
}

.detail-container p {
  margin: 8px 0;
  font-size: 1.1em;
  color: black;
}

/* Error message styling */

.error-container {
  padding: 1rem;
}

.error-container h1 {
  margin: 0;
}

/* Login Form Styling */

.form-header {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.register-container {
  background-color: #123458;
  padding: 1rem 2rem;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

.login-container form,
.register-container form {
  display: flex;
  flex-direction: column;
}

.login-container label,
.register-container label {
  font-weight: bold;
  text-align: left;
  margin-top: 1rem;
  color: white;
}

.login-container input[type="email"],
.login-container input[type="password"],
.register-container input[type="email"],
.register-container input[type="password"],
  .register-container input[type="text"] {
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ffffff;
  opacity: 0.8;
  color: #000000;
}

.register-container p {
  color: white;
  text-align: left;
  font-style: italic;
}

.login-container button,
.register-container button {
  margin-top: 1.5rem;
  padding: 0.6rem;
  background-color: #add8e6;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover,
.register-container button:hover {
  background-color: #dde8f0;
}

.login-container p {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: white;
}

.login-container a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.login-container a:hover {
  color: #aaccff;
}

/* Message Container */
.message-container {
  text-align: center;
  margin-top: 1rem;
  color: tomato;
  padding-bottom: 1rem;
}
.message-container ul,
.message-container ol {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

/* Responsive Design */
@media (max-width: 580px) {
  .wrapper {
    margin: 0;
  }

  nav ul {
 
  }

  nav li {
    margin: 10px 0;
  }

  .l-container {
    flex-direction: column;
  }

  .upgrades, .reviews {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .delorean-container h2 {
    font-size: 14px;

  }
  
  .delorean-container p {
    font-size: 12px;
  }

  .btn {
    padding: 5px 8px;
    margin-top: 10px;

  }

  .item-container {
    flex-direction: column;
  }
}



